.friendList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  display: flex;
}
.item {
  padding: 50px;
  border: 1px solid rgb(0, 0, 0);
  margin-right: 30px;
}
.online {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
}
.offline {
  align-items: center;
  display: block;
  border-radius: 50%;
  background-color: red;
  width: 30px;
  height: 30px;
}
